.field-container {
  .positions {
    position: absolute;
    width: 40%;
    height: 88%;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 5;

    .dragabble-position {
      position: absolute;
      width: 7vw;
      height: 7vw;
      z-index: 10;
    }

    .pos {
      position: absolute;
      width: 7vw;
      height: 7vw;

      &:before {
        content: "";
        display: block;
        position: absolute;
        background: #fff;
        opacity: 0.5;
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
        border: 2px solid transparent;
      }

      &.drag-over:before,
      &.dropped:before {
        box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.5);
      }
    }

    .player {
      position: absolute;
      top: -3vw;
      left: -1vw;
    }

    &.team-1 {
      .pos {
        &:before {
          border: 3px solid #009df9;
        }

        &.drag-over:before {
          border: 3px dashed #009df9;
        }
      }
    }

    &.team-2 {
      left: 50%;

      .pos {
        &:before {
          border: 3px solid #ef3333;
        }

        &.drag-over:before {
          border: 3px dashed #ef3333;
        }
      }
    }
  }
}
